---
layout: default
---
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
  
  {% for page in site.pages %}
    {% if page.path contains 'pages' %}
     <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
   {% endif %}
  {% endfor %}
  
  {% for file in site.static_files %}
    {% if file.extname == '.html' %}
      <li><a href="{{ file.path }}">{{ file.name }}</a></li>
    {% endif %}
  {% endfor %}

</ul>
